.contact-left {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    gap: 110px;
    p {
        margin-bottom: 0;
    }
    h2 {
        font-size: 28px;
    }
    p {
        color: #adadad;
    }
    a {
        color: white;
    }
    .contact-info {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .socials {
        display:flex;
        gap: 17px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #404243;
            border-radius: 50%;
            padding: 9px;
            aspect-ratio: 1;
            transition: all 0.3s ease-in-out;
        }
        a:hover {
            background-color: #EBEDEE;
            svg path {
                fill: var(--primary-color);
            }
        }
    }
}
.contact-right {
  display: flex;
  flex-direction: column;
  gap: 145px;
  .contact-inputs {
    padding: 30px 20px;
    gap: 5px;
    .inputform {
      border: 0px;
      border-bottom: solid 1px black;
      margin-bottom: 10px;
    }
    textarea {
      border: 0px;
      border-bottom: solid 1px black;
      resize: none;
    }
  }
  .contact-button {
    padding: 15px 40px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--white);
    align-self: flex-end;
    position: relative;
    &::after {
      content: "";
      width: 260px;
      height: 260px;
      background-image: url("../img/letter.png");
      position: absolute;
      bottom: -230px;
      right: 55px;
      z-index: -100;
    }
    &:focus {
      outline: 2px solid #404243;
    }
  }
  .contact-button:hover {
    background-color: #404243;
    transition: all 0.3s ease-in-out;
  }

}
.contact-inputs {
    padding: 30px 20px;
    gap: 5px;
    input {
        border: 0px;
        border-bottom: solid 1px black;
        margin-bottom: 10px;
    }
    textarea {
        border: 0px;
        border-bottom: solid 1px black;
        resize: none;
    }
    
}
.contact-button {
        padding: 15px 40px;
        border-radius: 5px;
        background-color: var(--primary-color);
        color: var(--white);
        align-self: flex-end;
    }